<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://kit.fontawesome.com/a54d2cbf95.js" `SameSite="None`"></script>
    <link rel="stylesheet" href="../public/css/main.css">
    <title>Paygate</title>
</head>
<body>
    <div class="contact-wrapper">
        <div class="contact-header">
            <div class="contact-phone">
                <i class="fas fa-phone-alt"></i><p>+27 (0)87 820 2020</p>
                <i class="fas fa-envelope"></i><a href="">infosa@dpogroup.com</a>
            </div>
            <div>
                <a href="#"><button class="devbutton">Developer Login</button></a>
                <a href="#"><button class="clientbutton">Client Login</button></a>
            </div>
        </div>
    </div>
    <header class="site-header">
        <div class="logo">
            <img src="../img/DPO-South-Africa-LogoStd.png" alt="" srcset="">
        </div>
        <nav class="menu">
            <ul>
                <a href="#"><li>Solution</li></a>
                <a href="#"><li>Developers</li></a>
                <a href="#"><li>Company</li></a>
                <a href="#"><li>Get Started</li></a>
            </ul>
        </nav>
    </header>
    <div class="content">
        <div class="main-content">
            <div class="wrapper">
                <div class="text-wrapper">
                    <h2>Your <span>best choice</span> for accepting payments online</h2>
                    <p>PayGate Plus, DPO SA’s, fully managed solution for accepting payments online.</p>
                    <p>All the benefits of SA’s most powerful payment gateway without all the admin.</p>
                </div>
                <div class="button-wrapper">
                    <p><a href="" class="chat-button">Let's Chat</a></p>
                </div>
            </div>
            
            <div class="img-wrapper">
                <img src="../img/dpo-sa-vector.png" alt="" srcset="">
            </div>
        </div>
        <div class="payments">
            <div class="payment-header">
                <img src="../img/payment.png" alt="" srcset="">
                <h3>fully managed <span>payments</span></h3>
            </div>
            <div class="payment-cards">
                <div class="card">
                    <h2 class="card-title"><span>Easy setup</span></h2>
                    <img src="../img/card-arrow.png" alt="" srcset="">
                    <p>
                        <span>
                            We work directly <br />
                            with your bank
                        </span>
                    </p>
                </div>
                <div class="card">
                    <h3 class="card-title"><span>Sell more</span></h3>
                    <img src="../img/card-money.png" alt="" srcset="">
                    <p>
                        <span>
                            Accept card, mobile money and <br />
                            all other major payment <br />
                            methods
                        </span>
                    </p>
                </div>
                <div class="card">
                    <h3 class="card-title"><span>Less fuss</span></h3>
                    <img src="../img/card-close.png" alt="" srcset="">
                    <p>
                        <span>
                            See and reconcile all <br />
                            transactions in one place
                        </span>
                    </p>
                </div>
            </div>
            <div class="transaction">
                <div class="text">
                    <h6><strong>Accpet card payments, masterpass, zapper, snapscan and more</strong></h6>
                    <h5><span>3.5% on all sucessful transactions</span></h5>
                </div>
                <div class="transactions-buttons">
                    <a href="#"><button id="pricing">Pricing brochure</button></a>
                    <a href="#"><button id="sign">Sign up now</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="grow">
        <h2>We love to see you grow</h2>
    </div>
    <div class="last-content">
        <div class="trusters">
            <h3>
                <span>Trusted </span>
                <strong>by the best</strong>
            </h3>
            <p>to offer the highest standard in payment processing</p>
        </div>
        <div class="trusters-img">
            <img src="../img/trusters.png" alt="" srcset="">
        </div>
        <div class="security">
            <h3>
                <span>Secure </span>
                <strong>and proud</strong>
            </h3>
            <p>fraud monitoring and data security is always a top priority</p>
        </div>
        <div class="security-cards">
            <a href="#">
                <div class="security-card">
                    <h3 class="card-title"><span>PCI DSS Level 1 Compliant</span></h3>
                    <img src="../img/asset-16.png" alt="" srcset="">
                </div>
            </a>
            <a href="#">
                <div class="security-card">
                    <h3 class="card-title"><span>GDPR Ready</span></h3>
                    <img src="../img/asset-15.png" alt="" srcset="">
                </div>
            </a>
            <a href="#">
                <div class="security-card">
                    <h3 class="card-title"><span>Fraud Monitoring</span></h3>
                    <img src="../img/asset-14.png" alt="" srcset="">
                </div>
            </a>
        </div>
        <div class="best-pratice">
            <div class="global">
                <h3>
                    <span>Global </span>
                    <strong>best pratice</strong>
                </h3>
                <p>DPO Group is Africa’s biggest PSP</p>
            </div>
            <div class="dpo-group">
                <p>DPO Group is the leading African payment service provider (PSP). We enable businesses and individuals across the continent to accept</p>
                <p>payments online with all currencies and payment methods, including all major cards, mobile money, and e-wallets. DPO Group currently</p>
                <p>works with upwards of 100,000 merchants, across 19 countries, and has local offices in Cape Town and Johannesburg. Founded in 2006, it</p>
                <p>has made a series of strategic acquisitions including, in 2016, PayGate and 2019, PayFast, South Africa’s most prominent PSPs.</p>
            </div>
        </div>
        <div class="pro">
            <div class="text">
                <h5><span>Start accepting online payments <br/> like a pro</span></h5>
            </div>
            <div class="pro-buttons">
                <a href="#"><button id="sign-up">Sign up</button></a>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-links">
            <div class="company">
                <h3 class="title">Company</h3>
                <a href="#">
                    <li>About Us</li>
                </a>
                <a href="#">
                    <li>Careers</li>
                </a>
                <a href="#">
                    <li>Blog</li>
                </a>
                <a href="#">
                    <li>Privacy Policy</li>
                </a>
            </div>
            <div class="company-last">
                <a href="#">
                    <li>Download Logos</li>
                </a> 
                <a href="#">
                    <li>Contact Us</li>
                </a>
                <a href="#">
                    <li>FAQ's</li>
                </a>
            </div>
            <div class="resources">
                <h3 class="title">Resources</h3>
                <a href="#">
                    <li>Developers</li>
                </a>
                <a href="#">
                    <li>Shopping Carts</li>
                </a>
                <a href="#">
                    <li>Integration Methods</li>
                </a>
                <a href="#">
                    <li>Payment Methods</li>
                </a>
            </div>
            <div class="newsletter">
                <h3 class="title">Newsletter</h3>
                <input type="email" name="email" id="" placeholder="Email Adress" required>
                <button>Sign Up</button>
            </div>
        </div>
        <div class="text-widget">
            <p>It’s business as usual at DPO South Africa. We’re as committed as ever in helping you take your business online.</p>
        </div>
        <div class="media">
            <div class="gpdr">
                <a href="#"><img src="../img/asset-17.png" alt="" srcset=""></a>
                <a href="#"><img src="../img/gpdricon.png" alt="" srcset=""></a>
            </div>
            <div class="social-media">
                <i class="fab fa-youtube"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-linkedin-in"></i>
            </div>
        </div>

        <div class="copyright">
            <p>2020 © Copyright PayGate (Pty) Ltd</p>
        </div>

    </footer>
   
</body>
</html>