$border: #dadbdc;
$clientbutton: #1b75bb;
$devbutton: #28306d;
$text: #fff;
$menucolor: #4c5867;
$linkcolor: #57b7df;
$spancolor: #d33e86;
$maincolor: #002f67;
$basecolor: #384554;
$secondaryTextColor: #4594d3;
