@media (min-width: 300px) and (max-width: 458px) {
  .img-wrapper {
    top: -511px !important;
  }
}

@media (min-width: 458px) and (max-width: 467px) {
  .img-wrapper {
    top: -456px !important;
  }
}

@media (min-width: 467px) and (max-width: 500px) {
  .img-wrapper {
    top: -421px !important;
  }
}

@media (min-width: 500px) and (max-width: 750px) {
  .img-wrapper {
    top: -404px !important;
  }
}

@media (max-width: 750px) {
  .contact-header {
    flex-direction: column;
    padding: 10px;

    .contact-phone {
      display: none !important;
    }
  }

  .menu {
    display: none;
  }

  .main-content {
    flex-direction: column;

    p {
      line-height: normal !important;
      margin: 5px 0;
    }

    .wrapper {
      position: relative;
      top: 312px;
    }

    .img-wrapper {
      padding: 26px;
      position: relative;
      top: -490px;
    }
  }

  .payment-header {
    img {
      width: 306px !important;
      height: 58px;
    }

    h3 {
      font-size: 27px !important;
    }
  }

  .payment-cards {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .transaction {
    flex-direction: column;
    text-align: center;

    h5 {
      display: none;
    }
  }

  .grow {
    text-align: center;
    height: 50vh;

    h2 {
      font-size: 50px;
    }
  }

  .security-cards {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .pro {
    flex-direction: column;
  }

  .footer-links {
    flex-direction: column;

    .company-last {
      padding-top: 1em !important;
    }
  }

  .media {
    flex-direction: column;

    .fab {
      padding: 23px 14px 0 !important;
    }
  }
}

@media (min-width: 750px) and (max-width: 1100px) {
  .main-content {
    flex-direction: column;

    p {
      line-height: normal !important;
      margin: 5px 0;
    }
  }

  .payment-header {
    h3 {
      font-size: 27px !important;
    }
  }

  .payment-cards {
    grid-template-columns: repeat(3, 1fr) !important;

    .card {
      min-width: 200px !important;
    }
  }

  .security-cards {
    grid-template-columns: repeat(3, 1fr) !important;

    .security-card {
      min-width: 200px !important;
    }
  }

  .footer-links {
    flex-direction: column;

    .company-last {
      padding-top: 1em !important;
    }
  }

  .footer-links {
    flex-direction: row;

    .company-last {
      padding-top: 4em !important;
    }
  }
}
